<div class="big-card">
  <a href="">
    <div class="img-b-card">
      <img
        src="https://via.placeholder.com/1200x400
    "
        alt="" />
    </div>
    <div class="title-b-card">
      <h1>TITULO DO TEXTO</h1>
    </div>
    <div class="description-b-card">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        vitae nam quidem quos sunt nemo. Nulla exercitationem delectus iste
        aliquam modi, ea quis nemo, obcaecati voluptatum, ipsa quo aspernatur
        quas Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
        maxime magnam deserunt perspiciatis inventore sit dolorem blanditiis
        optio illum, quia quod assumenda at in velit aliquid iste cupiditate
        voluptatum sequi.
      </p>
    </div>
  </a>
</div>
