.big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.big-card > a:link,
a:visited,
a:hover,
a:active {
  color: #333; /* Cor azul, por exemplo */
  text-decoration: none; /* Remove o sublinhado, se desejado */
}
.boxB {
  padding-top: 5px;
  padding-left: 15px;
}

.img-b-card img {
  width: 800px;
  height: 400px;
  align-content: center;
  margin: auto;
}

.title-b-card {
  margin: 0;
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
}

.description-b-card {
  font-size: 14px;
  text-align: justify;
  margin-top: 15px;
  padding-right: 20px;
}
.description-b-card > p {
  font-size: 1.5em;
}
