<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="content">
  <div class="meu-container">
    <div class="big-card">
      <app-big-card></app-big-card>
    </div>
    <div>
      <div class="small-card">
        <app-small-card></app-small-card>
      </div>
      <div class="small-card">
        <app-small-card></app-small-card>
      </div>
      <div class="small-card">
        <app-small-card></app-small-card>
      </div>
      <div class="small-card">
        <app-small-card></app-small-card>
      </div>
      <!-- Outros small-cards -->
    </div>
  </div>
</div>
